<header class="header">
  <div class="container">
    <div class="row">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"> Freedom </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item " (click)="active">
            <a class="nav-link" href="/home" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
          <!--redireccion progrmatica: para que una ruta no se recargue como un f5 [routerLink]="['/home'] -->
          </li>
          <li class="nav-item" (click)="active">
            <a class="nav-link" href="/nosotros" [routerLink]="['/nosotros']">nosotros</a>
          </li>
          <li class="nav-item"  (click)="active">
            <a class="nav-link" href="/contacto" [routerLink]="['/contacto']">contacto</a>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</div>

  </header>
