<app-nav>cargando... </app-nav>
<router-outlet></router-outlet> <!-- comando angular
  para mostrar todo -->

<div class="container">
        <div class="">
          <button class="btn btn-primary"
                (click)="visible= !visible"><!--llama a un evento
                  click distinto a javascript y modificaa el valor de la variable
                visible cada ves que se clickea el boton-->
                {{visible}}
          </button>

          <p *ngIf="visible ; else otroBloque">
            ahora soy visible...
          </p>
          <ng-template #otroBloque>
            <p>
              Yo soy visible y me voy a ocultar...
            </p>
          </ng-template>

        </div>
      <!-- emmet con ctrl + e por ejemplo se .row>ul>li{$}*3 -->

      <div class="row">
        <ul>
          <li *ngFor="let car of cars ;let i = index" >{{i}} - {{car}} </li> <!-- for each -->
        </ul>
      </div>
      <div class="row2">
        <ul>
          <li *ngFor="let auto of autos">{{auto | json  }}</li> <!--el pipe lo formatea a json se usa como powershell -->
        </ul>
      </div>
<!-- en Angular el estilo se escribe backgroundColor  y en css nativo se escribe background-color -->

      <div class="row4">
        <ul>
          <li *ngFor="let auto of autos" [ngStyle]="{backgroundColor: auto.total > 0 ? 'green' : 'red' }"> {{auto.nombre}} </li>
        </ul>
      </div>

      <div class="row3">
        <ul>
          <li class="alert" *ngFor= "let auto of autos"
          [ngClass]=" {'alert-success': auto.total>0 , 'alert-warning': auto.total == 0}">{{auto.nombre}}</li>
        </ul>
      </div>


</div>
